.card-title{
    color: #0f9dff;
    text-align: center;
}
.cardtitle{
    text-align: center;
}
.btn{
    background-color: #0f9dff;
    
}
.card{
    border-color: transparent;
}
.whatsapp{
    text-align: center;
    justify-items: left;
}
.card-img-top{
    width: 70%;
    height: 70%;
    align-self: center;
}
body{
    background-color: #e7e7e7;
}
.card{
    background-color: #e7e7e7;
}
.card-body{
    border-color: transparent;
}
.nav-link{
    cursor: pointer;
}